<div id="footer" class="footer4 b-t spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20">Address</h5>
                <p>9 Boulevard de la Paix, 51100 Reims</p>
            </div>
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20">Phone</h5>
                <p>Reception : 03 26 91 30 00
                    </p>
            </div>
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20">Email</h5>
                <p>Office : <a routerLink="#" class="link">info@univ-reims.fr</a> <br />Site : <a routerLink="#"
                        class="link">https://www.univ-reims.fr
                        </a></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="m-b-20">Social</h5>
                <div class="round-social light">
                    <a routerLink="#" class="link"><i class="fa fa-facebook"></i></a>
                    <a routerLink="#" class="link"><i class="fa fa-twitter"></i></a>
                    <a routerLink="#" class="link"><i class="fa fa-google-plus"></i></a>
                    <a routerLink="#" class="link"><i class="fa fa-youtube-play"></i></a>
                    <a routerLink="#" class="link"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>
